__pycache__/
.data/
.benchmarks/
._*
*/**/__pycache__
*/**/*.pkl
*/**/*.pt
*/**/*.pyc
*/**/*.tar.gz
.vscode/
*.out*
*.swp
*.swo
.DS_Store
.ipynb_checkpoints/
.idea
*.egg-info/
torch_compile_debug/
build/
/*.csv
*.hatchet
autotuner.log
