name: TritonBench Nightly
on:
  schedule:
    # Test nightly docker daily at 4 PM UTC
    - cron: '0 16 * * *'
  workflow_dispatch:
  pull_request:
    paths:
      - benchmarks/nightly/**
      - .github/workflows/_linux-nightly-h100.yml
      - .github/workflows/nightly.yml

jobs:
  h100-triton-main-nightly-test:
    uses: ./.github/workflows/_linux-nightly-h100.yml
    with:
      conda_env: "triton-main"
      job_name: "tritonbench-h100-triton-main-nightly"
    secrets:
      TRITONBENCH_SCRIBE_GRAPHQL_ACCESS_TOKEN: ${{ secrets.TRITONBENCH_SCRIBE_GRAPHQL_ACCESS_TOKEN }}


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true
